
<!DOCTYPE html>

<html>

<head>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<title>Practical-9</title>   

</head>

<body>

    <divid="App"> 
        <new-component> </new-component>
        <new-component> </new-component>
        <new-component> </new-component>
        <new-component> </new-component>

        <props-new v-for="author in authors" :title="author.title" :author="author.author"> </props-new>

        <posts-url v-for="post in postsUrl" :title="post.title" :body="post.body"> </posts-url>

    </div><divid="App"> 

    <script type="text/javascript" src="res/js/App.js"></script>

</body>

</html>